*{padding:0;
    margin:0;
    box-sizing: border-box;}
    body{font-family: "Roboto", "Open Sans", sans-serif;
        color: #323544;}
    /*header*/
    .navbar{padding:40px 0px;
        background-color: #1E202B;}
        .navbar-brand,.navbar-brand:hover{color:#fff}
        .navbar-brand{font-size: 1.7rem;
        width:50%;}
        .navbar-brand span{color:#009AD8;}
        .fa-bars{color: #fff;
        cursor: pointer;}
        .navbar-nav .nav-link{-webkit-transition: all 0.3s ease; 
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
             transition: all 0.3s ease; 
             color:#fff;
            font-size: 1rem;}
        .navbar-nav .nav-link:hover{color:#029ED9}
        .navbar-collapse{width:50%;}
        .navbar-nav{width:100%;
        justify-content: space-between;} 
/*climate*/
.climate{padding:60px 0px;}  
.climate-list{display: flex;
justify-content: space-between;}  
.climate-causes li{font-size: 13px;
margin-top: 5px;}
.climate b{font-weight: 400;}
.climate-list i{color:#009AD8}
.climate-left img{width:250px;
height:200px;    
object-fit: cover;}
.climate-left p,.climate-right p{ color: #a1a1a1;}
.climate-right img{width:150px;
height:170px;
object-fit: cover;}
.climate-right .media-body p{font-size: 12px;}
/*footer*/
.footer-nav{padding:60px 0px;}
footer .nav{    border: 1px solid #dbdbdb;
    padding: 50px 40px}
footer .nav a{color:#009AD8}    
footer .nav-link:after{content:"|";
margin-left: 20px;
color:#555555}
footer .nav-link:last-child:after{content: none;}
footer .nav-link{padding: .5rem .5rem;}
.second-footer{padding: 40px 0px;
    background-color: #F8F8F8;}
    .second-footer p{margin-bottom: 0.5px;}
    .second-footer h3{  font-size: 1.7rem;}
    .second-footer span{color:#029ED9}
    .second-footer p{opacity: .5;
    margin-left: 20px;
    font-size: 14px;}
/*top button*/
#btnUp
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 999;
}