*{padding:0;
margin:0;
box-sizing: border-box;}
body{font-family: 'Cairo', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
   color: #5A5959;}


/*header*/
header{background-color: #1E202B;
padding:5px 0px;}

header select{margin-left:4%;
background-color: rgba(38, 41, 54, 0.5);
color:#fff }

header option span{background-color: #fff;}

header option span:hover{background-color: #EEEEEE !important;
color: #464646;}

header .text-white{font-size:14px}


/*nav*/
.navbar{
background: #fff !important;
box-shadow: 0px 1px 5px -1px rgba(50, 53, 68,.4);


}

.logo{display: flex;
justify-content: space-between;}



.logo .fa-bars{display: none;}

.logo .fa-user{display: inline-block;}

.dropdown{
    border-radius:0;
    border:0;
}
.dropdown-menu{
    background: #fff;
    border:0;
    top:90%;
    border-radius:0px !important;
    box-shadow: 0px 1px 5px -1px rgba(50, 53, 68,.4);
    padding:0px;
}
.dropdown-item:hover{
    background:#EEEEEE;
    color:#464646;
}
.dropdown-menu a{
    color:#464646;
    font-size: 14px;
    padding: 15px 5px;
}
hr{margin-top: 0px;
    margin-bottom: 0px;}


a:hover{text-decoration: none;}


.navbar-nav li > a {font-size: 14px;}

.navbar .nav-item .nav-link {color: #464646 !important;}

nav ul{display: flex;
justify-content: space-between;
width:80%;}

nav.small{display: none;}

.logo-img{width:60%;}

.logo-img img{width:28%}


/*choose lang*/

.lang-dropdown{margin-left:20px;
color: #fff;
position: relative;}

.lang-list{position: absolute;
width:200px;
background-color: #fff;
box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.4);
z-index: 9;
display: none;
-webkit-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;}

.lang-dropdown:hover .lang-list{display: block;}

.lang-list .text-muted{margin-bottom: 0px;
font-size: 14px;}

.lang-list li{padding:10px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;}

.lang-list ul{margin-bottom: 0px;}

.lang-list a {
    color: #1E202B;
    font-size: 14px;
}

.fa-check{color: rgb(70, 145, 216);}

.lang-list li:hover{background-color: #EBEBEB;}

.lang-list li:first-child:hover{background-color: #fff;}

.lang-select{
    background: rgba(255, 255, 255, 0.15);
    padding:10px;
    font-size: 12px;
    cursor: pointer;
}


/*login*/
.login{font-size: 13px;
font-weight: 300;
background-color: rgba(255, 255, 255, 0.15);}

.login a{color:#fff;
margin:0px 8px;}
/*radar*/


.radar .col-md-3{background-color: #f8f8f8;
padding:40px;
display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
height:12rem;
color:#1E202B;}

.radar .col-md-3 a{color:#1E202B;}

.radar-ex img{width:50px;
height:50px}

.radar h4{font-size: 16px !important;
letter-spacing: 5px;}

.radar .grey{background-color: #1E202B;
color: #fff;}

.radar .grey a{color: #fff;}

.radar h4{font-size: 18px;}


/*text div*/
.text-forecast-label{background-color: #1E202B;
padding: 12px 25px;
color:#fff;
width:20%;
display: flex;
align-items: center;}

.text-forecast{background-color: #F8F8F8;
padding:20px 0px;}

.text-forecast-content{background-color: #fff;
padding: 12px ;
font-size: 14px;
border: 1px solid #E8E8E8;
box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.4);}

/*satellite*/
.satellite{background-color:#f8f8f8;
color:#1E202B;
padding:40px 0px}
.satellite a{color: #1E202B;}
.sat-map,h3,.weather-news h3,.news-box{ box-shadow: 0px 1px 5px -1px rgba(50, 53, 68,.4);
background-color: #FFF;
padding:15px}
a.maps{margin: auto;
    display: block;
text-align: center;
margin-top:5px;
color:#1E202B;
background-color: #F5F5F5;
padding:15px 0px;
-webkit-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;}

a.maps:hover{text-decoration: none;
color:#5A5959;}
h3{font-size: 20px;
background-color: #fff;}
.news-box p{margin-left:5%}
.sat-map h3,.weather-news h3{margin:4px 0px}
.story img{width:60px;
height:60px;
border-radius: 50%;}
.story a{display: flex;
align-items: center;}
.story li{margin-bottom: 10%;}
.story a p{margin-left: 5%;}
.story > p,.map > p{background-color: #f8f8f8;
box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.4);
padding:15px;
margin:4px 0px;}
.adv > p,.adv ul{padding:15px;
background-color:#f8f8f8;
box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.4);}
.adv p{justify-content: space-between;}
.adv li img{border:2px solid #5A5959}
/*location*/

.input{border:0px;}
.form-control{border:0px;}
.search-box{padding:10px;
margin:20px 0px;
background-color: #fff;
box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.4);}
.search-box img{border-radius: 50%;}
.form-control:focus{border-color: transparent;
box-shadow: none;}


#btnUp
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 999;
}


/***news carousel**/
.news-box img,.news-carousel-inner img,.arabia-carousel-inner img{transition: all .5s ease-in-out;
-webkit-transition: all .5s ease-in-out;
-o-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out;
cursor: pointer;
opacity: 1;}

.news-carousel-small,.arabia-carousel-small,.posts-carousel-small{display: none;}

.news-box img:hover,.news-carousel-inner img:hover,.arabia-carousel-inner img:hover{transform:scale(.98,.98);
-webkit-transform: scale(.98,.98);
-moz-transform: scale(.98,.98);
-o-transform: scale(.98,.98);
opacity: .8;}

.news-box{position: relative;}

.details{position:absolute;
left:85%;
top:85%;
color: #1E202B;
transition: all .5s ease-in-out;
-webkit-transition: all .5 ease-in-out;
-moz-transition: all .5 ease-in-out;
-o-transition: all .5s ease-in-out;}

.details:hover{text-decoration: none;
color: #5A5959;}

.fa-share-alt{position: absolute;
    top: 35px;
    left: 33px;
    color: #FFF;}

.news-carousel,.arabia-carousel,.posts-carousel{padding: 0px;
background-color: #F8F8F8;}

.posts-carousel{padding:40px 0px;}

.np{background-color: #fff;}

.news-carousel-inner,.posts-carousel-inner,.arabia-carousel-inner{
background-color: #fff;
padding:20px;
justify-content: space-around;}

.carousel-inner{box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.4);}

.posts-carousel-inner ,.arabia-carousel-inner {   padding:20px}

.posts-carousel-inner .card,.arabia-carousel-inner .card{width:30%}

.news-carousel .card{width:30%;
margin:20px 0px}

.card img{height:200px}

.card-body{padding:0px;
margin:15px;
font-size: 14px;}

.carousel-control-next, .carousel-control-prev {
position: relative;
justify-content: end;
width:2%;
opacity: 1;
margin-left: 20px;
top:5px;
display: block;}

.carousel-control-next:hover, .carousel-control-prev:hover{opacity: .5;}

.card-body a{color: #1E202B;
background-color: #F5F5F5;
padding:10px;}

.card-body a:hover{text-decoration: none;}

.fa-chevron-right, .fa-chevron-left {color:#1E202B;
position: relative;
bottom: 0px;
top:10px;
font-weight: bold;
font-size: 1.5rem;}

.carousel-indicators{bottom: -10px;}

.carousel-indicators li{width:10px;
height:10px;
border-radius: 50%;
background-color: #D6D9DE;}

.card{border-radius: 0px;}

.card-img-top {border-top-left-radius: 0px;
border-top-right-radius:0px}

.arabia-carousel-inner .carousel-indicators{bottom: -20px;}

.arabia-carousel-inner{padding: 40px;}

/*footer*/
.footer-top{background-color: #EDEDED;
padding:15px 0px;}

.footer-top li{font-size: 12px;
margin-left: 10px;
padding:5px}

.footer-top ul{display: flex;
justify-content: center;}

.footer-top a{color:#5A5959;}

.footer-bottom{background-color: #1E202B;
padding:15px 0px}

.footer-bottom a{color:#fff}

.footer-links{width: 25%;
margin: auto;
display: flex;
justify-content: space-between;}
