*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body
{
    font-family: 'Cairo', sans-serif;
    color: #323544;
}
/*header*/
.navbar{padding:40px 0px;
    background-color: #1E202B;}
    .navbar-brand,.navbar-brand:hover{color:#fff}
    .navbar-brand{font-size: 1.7rem;
    width:50%;}
    .navbar-brand span{color:#009AD8;}
    .fa-bars{color: #fff;
    cursor: pointer;}
    .navbar-nav .nav-link{-webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
         transition: all 0.3s ease;
         color:#fff;
        font-size: 1rem;}
    .navbar-nav .nav-link:hover{color:#029ED9}
    .navbar-collapse{width:50%;}
    .navbar-nav{width:100%;
    justify-content: space-between;}
/*location*/
.location{padding: 20px 0px;
background-color: #323544;
color:#bfc1c8;}
.location .row{display: flex;
align-items: center;}
.location .box{display: flex;
align-items: center;}
.location input{width:80%;
    color: #fff;
    height: 51px;
    padding: 15px 20px 15px 20px;
    background: #1e202b;
    box-shadow: none;
    outline: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #1e202b;
    display: inline-block;
    border-radius: 1px;
    margin-right: -1px;}
.fa-plus{width: 40px;
 height: 40px;
 display: flex !important;
 background: #009AD8;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 color: #fff;}
.box h2{color: #fff;
 margin-left: 15px;}
.location .box{cursor: pointer;}
.weather-info .degree{color:#fff;
font-weight: bold;
margin-left: 0px;}
 /*videos*/
 .videos{padding: 20px 0px;}
 .videos h3{color: #1E202B;}
 .videos p{color: #323544}
 .videos img{height:150px;
    width:100%;
    object-fit: cover;}
/*climate*/
.climate{
background-image: url(../images/rain.jpg);
height: 400px;
background-size: cover;
background-repeat: no-repeat;}
.climate .container{height:100%;}
.weather-table{display: flex;
height:50%;}
.weather-table .weather-info{width: 12.5%;
text-align: center;
position: relative;
overflow: hidden;}
.weather-table .day{padding: 10px;
color: #009AD8;}
.weather-table .city{color:#bfc1c8 ;}
.weather-table h4,.weather-table h1{color: #fff;}
.weather-table .current{width:50%;
background-color: rgba(38, 41, 54, 0.3)}
.weather-table .current p{text-align: left}
.current .city, .current h1,.current span{margin-left: 10px;
text-align: left;}
.avg-temp{background-color: rgba(0, 154, 216, .5);
width:100%;
height:25%;
position: absolute;
bottom: 0px;}
.weather-info{background-color: rgba(38, 41, 54, 0.5);}
/*map*/
.map{background-color: #D6D9DE;}
.map .row{display: flex;
align-items: center;}
.icalendar__month{background-color: #262936 !important;}
.icalendar__week-days{background-color: rgba(0, 0, 0, 0.1)!important;}
.icalendar__today {background-color: #009AD8 !important;}
.icalendar{margin: auto;}
/*main*/
.main{padding:40px 0px;
overflow: hidden;
background-color: #F8F8F8;}
.card-img-top{height:200px;
object-fit: cover;
border-top-left-radius: 0px;
border-top-right-radius:0px;}
.weather-card{padding: 30px;
    box-shadow: 0 0 3px rgba(0,0,0,0.07);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.07);
    -o-box-shadow: 0 0 3px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.07);
    background-color: #fff;
}
.main .card{border: 0px;}
.main .card a{color:#009AD8;
transition: all .3s ease-in-out;
-webkit-transition:all .3s ease-in-out;}
.main .card a:hover{text-decoration: none;
color:#262936}
.main .card-text{color:#BABABA;
font-size: .8rem;}
.card-body{padding: 0px;
padding-top: 15px;}
.main .list-city{display: flex;}
.list-city b{font-weight: 400;}
.list-city i{color:#009AD8}
.main li{margin-top: 20px;}
.main .offset-md-1{display: flex;
flex-direction: column;
justify-content: center;}
.main p{font-size: small;
color: #BABABA;}
.main .feat{padding: 30px 0px;}
.main .feat img{height:200px}
.main .feature h5{padding:15px 0px}
.main ul:nth-child(2){margin-left: 10px;}
/*top button*/
#btnUp
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 999;
}

/*footer*/
.footer-nav{padding:60px 0px;}
footer .nav{    border: 1px solid #dbdbdb;
    padding: 50px 40px}
footer .nav a{color:#009AD8}
footer .nav-link:after{content:"|";
margin-left: 20px;
color:#555555}
footer .nav-link{padding: .5rem .5rem;}
footer .nav-link:last-child:after{content: none;}
.second-footer{padding: 40px 0px;
background-color: #F8F8F8;}
.second-footer p{margin-bottom: 0.5px;}
.second-footer h3{  font-size: 1.7rem;}
.second-footer span{color:#029ED9}
.second-footer p{opacity: .5;
margin-left: 20px;
font-size: 14px;}
