@media(max-width:767px) /* xs small*/
{
.weather-card{display:none}
.current-day{display:block}
.logo .fas{display: inline-block;
           color:#fff;
           cursor: pointer;}
header{    padding: 15px 0px;}
.logo img{width:20% !important}
nav{display: none !important;}
nav.small{display: block !important;}
.news-carousel,.arabia-carousel,.posts-carousel{display: none;}
.news-carousel-small,.arabia-carousel-small,.posts-carousel-small{display: block;
padding:30px 0px;
width:90%;
margin: auto;}
.news-carousel-small .card,.arabia-carousel-small .card,.posts-carousel-small .card{width: 100%;
margin: 0px;}
.carousel-indicators{display: none;}
.footer-top{display: none;}
.text-forecast {display: none;}
}
@media(min-width:768px) and (max-width:991px) /*small*/
{
    .logo .fas{display: inline-block;
               color:#fff;
            cursor: pointer;}
    header{    padding: 15px 0px;}
    .logo img{width:20% !important}
    nav{display: none !important;}
    nav.small{display: block !important;}
    .news-carousel,.arabia-carousel,.posts-carousel{display: none;}
.news-carousel-small,.arabia-carousel-small,.posts-carousel-small{display: block;
padding:30px 0px;
width:90%;
margin: auto;}
.news-carousel-small .card,.arabia-carousel-small .card,.posts-carousel-small .card{width: 100%;
margin: 0px;}
.carousel-indicators{display: none;}
.footer-top{display: none;}
.text-forecast {display: none;}
}


@media(min-width:1001px) and (max-width:1199px) {/*medium*/

}

@media(min-width:1200px) /*large*/
{

}


